<!DOCTYPE html>
<html>
  <head>
    <title>Create New Event</title>
  </head>
  <body>
    <h1>Create New Event</h1>
    <form action="/event" method="POST">
      <label for="summary">Summary:</label><br>
      <input type="text" id="summary" name="summary" required><br>
      <label for="location">Location:</label><br>
      <input type="text" id="location" name="location"><br>
      <label for="description">Description:</label><br>
      <textarea id="description" name="description"></textarea><br>
      <label for="start">Start Date and Time:</label><br>
      <input type="datetime-local" id="start" name="start" required><br>
      <label for="end">End Date and Time:</label><br>
      <input type="datetime-local" id="end" name="end" required><br>
      <br>
      <button type="submit">Create Event</button>
    </form>
  </body>
</html>
